* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #0E464E;
    display: flex;
    height: 9vh;
    width: 100%;

}

.header h2 {
    font-family: 'Arapey', serif;
    color: white;
    font-size: 2.5rem;
}

.header>nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.header>nav>ul {
    display: flex;
    width: 30%;
    justify-content: space-around;
    list-style: none;
}

.list-header>a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.list-header>a::after {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 2px;
    cursor: pointer;
    counter-reset: white;
    border-bottom: 1.5px solid white;
    transition: all 0.5s ease-in-out;
}

.list-header>a:hover::after {
    width: 100%;
}

#contact {
    width: 10%;
    height: 50%;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 20px;
}

#contact:hover {
    cursor: pointer;
    background-color: white;
    color: #0E464E;
    transition: ease-in-out 0.2s;
}

/* PRESENTATION */

.presentation {
    background-color: #0C0C0C;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.presentation>figure>h1 {
    font-family: 'Libre baskervile', serif;
    color: #ffffff;
    font-weight: bolder;
    font-size: 6rem;
}

.box-texts {
    height: 70vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.box-texts>h2 {
    font-weight: 400;
    font-size: 3.2rem;
    width: 70%;
    color: #FFFFFF;
    font-weight: 600;
}

.box-texts>h2>span {
    color: #008060;
    font-weight: 900;
}

.box-texts>button {
    height: 20%;
    width: 50%;
    background-color: #0E464E;
    border-radius: 20px;
    font-size: 2em;
    border: none;
    color: #FFFFFF;
}

.box-texts>button:hover {
    background-color: #FFFFFF;
    color: #0E464E;
    border: #0E464E 3px solid;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.presentation>figure {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation>figure>img {
    width: 600px;
    height: 556px;
}

.presentation>figure>p {
    font-size: 2.7em;
    color: #0E464E;
    font-weight: bolder;
}

/* SERVICES */

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150vh;
    background-color: #0C0C0C;
}

.services>h2 {
    height: 15%;
    font-size: 2.5em;
    align-content: center;
    color: #FFFFFF;
}

.card-sections {
    display: flex;
    height: 85%;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.card-sections>article {
    width: 30%;
    height: 40%;
    background-color: #464646;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}


.card-header {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-header h3 {
    font-size: 2.5em;
    color: #ffffff;
}

.card-sections>article>p {
    font-size: 1.2rem;
    font-weight: 400;
    height: 40%;
    width: 80%;
    text-align: center;
    color: #ffffff;
}

.button-budget {
    background-color: #cecfcf;
    color: #0E464E;
    width: 40%;
    height: 12%;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;

}

.button-budget:hover {
    cursor: pointer;
    background-color: #0E464E;
    border: #0E464E 3px solid;
    color: #FFFFFF;
    transition: ease-in-out 0.5s;
}

/* PORBLEMS */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.problems {
    background: linear-gradient(-45deg, #0C0C0C, #333333, #0C0C0C, #0C0C0C);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 110vh;
}

.problems-example {
    color: #20d1ba;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.faq-header {
    font-size: 2.5rem;
    height: 20%;
    align-content: center;
    font-weight: 600;
}

.faq-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

.faq-question {
    padding: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.panel-title {
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
}

.panel-content {
    font-size: 1rem;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    opacity: 1;
    padding: 25px;
    border-top: 1px dashed #969696;
    color: #cecfcf;
}

.plus {
    position: absolute;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.panel:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.panel {
    display: none;
}



#contact-problem {
    width: 30%;
    height: 10%;
    background-color: transparent;
    border: 3px solid #FFFFFF;
    font-size: 1.2em;
    font-weight: bolder;
    color: #FFFFFF;
    border-radius: 20px;
    margin-top: 50px;

}

#contact-problem:hover {
    background-color: #FFFFFF;
    color: #0E464E;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

/* SOBRE NÓS */

.about-us {
    display: flex;
    align-items: center;
    background-color: #0C0C0C;
    justify-content: center;
    height: 100vh;
    background-image: url('./images/logoGreen.png') ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.text-about {
    height: 55%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

.text-about>h2 {
    font-size: 3.5em;
    font-weight: lighter;
    width: 100%;
}

.text-about>p {
    font-size: 1.5em;
    font-weight: 300;
    width: 100%;

}

#come {
    color: #008060;
    font-weight: 700;
    width: 57%;
    border-bottom: #008060 4px solid;
}

/* FOOTER */

footer {
    background-color: #0E464E;
    height: 20vh;
    font-family: 'Inter', sans-serif;
}



.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    color: #FFFFFF;
}

.links>nav>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.links>nav>ul>li {
    margin-top: 5px;
    align-self: center;
}

.links>p {
    font-size: 1em;
    font-weight: 500;
}

/* NOTEBOOK */
@media (min-width:901px) and (max-width: 1500px) {
    .problems-example>div>h2 {
        font-size: 40px;
    }

    .problems-example>div>ul>li {
        font-size: 24px;
        margin-left: 15px;
    }
}

/* MOBILE */
@media (min-width:201px) and (max-width: 500px) {


    .header>nav>ul {
        display: none;
    }

    #contact {
        width: 25%;
    }

    .presentation {
        height: 95vh;
        display: flex;
        flex-direction: column-reverse;
    }

    .presentation>figure {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40%;
        justify-content: center;

    }

    .presentation>figure>img {
        width: 100%;
        height: 330px;
        display: flex;

    }

    .presentation figure h1 {
        font-size: 4rem;
        border-bottom: #ffffff 3px solid;
    }

    .box-texts {
        display: flex;
        align-items: start;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .box-texts>h2 {
        font-size: 2em;
        width: 80%;
        height: 40%;
        align-self: center;
        align-content: center;
        text-align: center;
    }

    .box-texts>button {
        width: 40%;
        height: 50px;
        font-size: 1rem;
    }

    .services {
        height: 220vh;
    }

    .services>h2 {
        height: 10%;
        font-size: 2.5rem;
        text-align: center;
    }


    .card-sections {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-sections>article {
        width: 80%;
        height: 27vh;
    }

    .card-sections>article>p {
        font-size: 15px;
    }

    .card-header>h3 {
        font-size: 1.7rem;
    }

    .button-budget {
        height: 20%;
        width: 60%;
    }

    .problems {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 150vh;
    }

    .problems-example {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;

    }

    .problems-example>div {
        width: 80%;
        height: 10%;
        text-align: center;
    }


    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70vh;
    }

    .text-about {
        width: 80%;
        height: 90%;
    }

    .text-about>h2 {
        font-size: 2.2em;
    }

    .text-about>p {
        font-size: 1.1em;
    }

    #come {
        font-size: 2.2em;
    }
    .faq-content {
        width: 80%;
    }

    .about-us>figure {
        width: 100%;
    }

    .about-us>figure>img {
        width: 300px;
        height: 300px;
    }

    footer {
        height: 50vh;
        display: flex;
        flex-direction: column;

    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}